@mixin transform($x, $y) {
    transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
}

@mixin transition($duration: 300ms, $base: 0, $step: 0ms) {
    transition: all $duration ease-out $base * $step;
}

@mixin animate-transition() {
    @for $i from 0 through 5 {
        &.internal-ui-#{$i}-appear {
            opacity: 0;
            @include transform(-5px, 0px);
        }
        &.internal-ui-#{$i}-appear-active {
            opacity: 1;
            @include transform(0px, 0px);
            @include transition(300ms, 200ms, $i);
        }
    }
}

@mixin animate-single-transition() {
    .internal-ui-appear {
        opacity: 0;
        @include transform(-5px, 0px);
    }
    .internal-ui-appear-active {
        opacity: 1;
        @include transform(0px, 0px);
        @include transition(300ms, 200ms, 0);
    }
}

@mixin type_transition($type, $duration: 300ms, $base: 0, $step: 0ms) {
    transition: $type $duration cubic-bezier(0.22, 0.61, 0.36, 1) $base * $step;
    -webkit-transition: $type $duration cubic-bezier(0.22, 0.61, 0.36, 1) $base * $step;
    -moz-transition: $type $duration cubic-bezier(0.22, 0.61, 0.36, 1) $base * $step;
}

@mixin multitype_transition($types, $duration: 300ms, $base: 0, $step: 0ms, $function:cubic-bezier(0.22, 0.61, 0.36, 1)) {
    @include transition_property($types);
    @include transition_duration($duration);
    @include transition_function($function);
    @include transition_delay($base * $step);
}

@mixin transition_property($types) {
    -webkit-transition-property: $types;
    -moz-transition-property: $types;
    -o-transition-property: $types;
    transition-property: $types;
}

@mixin transition_duration($duration) {
    -webkit-transition-duration: $duration;
    -moz-transition-duration: $duration;
    -o-transition-duration: $duration;
    transition-duration: $duration;
}

@mixin transition_function($timing) {
    -webkit-transition-timing-function: $timing;
    -moz-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    transition-timing-function: $timing;
}

@mixin transition_delay($delay) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    transition-delay: $delay;
}